nav {
  background: #00a3ffcc;
  display: flex;
  justify-content: space-between;
}
nav div {
  margin: 25px;
  background: black;
}
nav a {
  border: solid red;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
}
.image-top {
  width: 100%;
  border: solid blue;
}
.image-top img {
  width: 100%;
}
.mid-page {
  height: 400px;
  padding: 0px;
  border: solid yellow;
  display: flex;
  justify-content: space-evenly;
}
.mid-page .left-box {

  height: 25%;
  width: 25%;
  background: #00a3ffcc;
}
.mid-page .right-box {
	
  height: 25%;
  width: 25%;
  background: #00a3ffcc;
}
