

header {
    padding-top: 20px;
}


.missionText {
    width: 90%;
    margin: 50px auto;
    box-shadow:@boxshadow;
    background: @bg;
    padding: 15px;
    text-shadow:@fontshadow;
    color:white;
    h2 {
        color:black;
        text-align: center;
    }
}