*{
    box-sizing: border-box;
}

html{
    max-width: 1440;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}

body{
    font-family: 'Alice', serif;
}


a{
    font-size:52px;
    font-family: 'Tangerine', cursive;
    color: white;
    text-decoration: none;
}

p {
    padding:10px;
font-family: 'Alice', serif;
color:white;
text-align: justify;
}

h2{
    padding:10px;
    font-family: 'Alice', serif;
    color:white;
    text-align: center;
}