.image-top{
   width:100%;
  
        img{
            width:100%;
        }
}


    .mid-page{
        @media @phone{
            .mobileNav();
            
        }
        height:400px;
        padding:0px;
    
        display:flex;
        justify-content: space-evenly;

        .left-box{
            .box();
            @media @phone{
            margin-left:15%;
            margin-right:15%;
            }
        }

        .right-box{
            .box();
            @media @phone{
                margin-left:15%;
                margin-right:25%;
                }
        }
        
    
    }
