.image-top{
   width:100%;
  
        img{
            width:100%;
        }
}


    .mid-page{
        height:400px;
        padding:0px;
    
        display:flex;
        justify-content: space-evenly;

        .left-box{
            .box();
        }

        .right-box{
            .box();
        }
        
    
    }


    .box(){
        margin-top:15%;
        height: 250px;
        width:250px;
        background:#00a3ffcc;
    }