.navBar{
    background:#00a3ffcc;
    .flexbox();
       
        nav{
            .flexbox();
           
            width:25%;
            justify-content: space-between;
            

        
        }
}

